* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("./../../data/img/fondoinicio.png");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: visible;
}

.barra {
    width: 100%;
    color: #89493F;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    overflow: visible;
}

.logo {
    width: 150px;
    overflow: visible;
}

.barra h1 {
    margin-top: 15px;
    overflow: visible;
}

.contenido {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    overflow: visible;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    overflow: visible;
}

.inicioDescripcion {
    width: 400px;
    color: #89493F;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.despedida {
    font-size: 25px;
}

.salirCon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100px;
}

/*pantallla de celular*/

@media (max-width: 500px) {
    .logo {
        width: 100px;
    }
    .barra h1 {
        font-size: 20px;
    }
    .inicioDescripcion {
        width: 350px;
        font-size: 15px;
    }
    .despedida {
        font-size: 20px;
    }
}

@media (max-width: 311px) {
    .logo {
        width: 100px;
    }
    .barra h1 {
        font-size: 20px;
    }
    .inicioDescripcion {
        width: 200px;
        font-size: 15px;
    }
    .despedida {
        font-size: 20px;
    }
}

@media (max-height: 415x) {
    .contenido {
        margin-top: 30px;
    }
    .logo {
        width: 60px;
    }
    .barra h1 {
        font-size: 18px;
    }
    .inicioDescripcion {
        font-size: 10px;
    }
}

@media (max-height: 522px) {
    .contenido {
        margin-top: 40px;
    }
    .logo {
        width: 100px;
    }
    .barra h1 {
        font-size: 25px;
    }
    .inicioDescripcion {
        font-size: 15px;
    }
}