* {
    font-family: 'Nunito', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("./../../data/img/fondoinicio.png");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: hidden;
}

header {
    display: flex;
    width: 100%;
}

.barra {
    color: #89493F;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    flex-direction: column;
}

.contenido {
    margin: 0 auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloCorreo {
    font-family: 'Nunito', sans-serif;
    color: #89493F;
    font-size: 20px;
    margin-top: 0%;
    margin-left: -103%;
    display: inline-flex;
}

#tituloContrasena {
    font-family: 'Nunito', sans-serif;
    color: #89493F;
    font-size: 20px;
    margin-top: 8%;
    margin-left: -82%;
    display: inline-flex;
}

#emailLogin {
    width: 140%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.753);
    margin-bottom: 0%;
    color: rgb(94, 94, 94);
    padding-left: 25px;
    border-radius: 15px;
    border-width: 0;
    border-style: solid;
}

#passwordLogin {
    width: 140%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.753);
    margin-bottom: 0%;
    color: rgb(94, 94, 94);
    padding-left: 25px;
    border-radius: 15px;
    border-width: 0;
    border-style: solid;
    margin-top: 8%;
}

#botonIngresar {
    background: #89493F;
    border-style: none;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    margin-top: 20%;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#botonIngresar:hover {
    background: rgb(209, 124, 111);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 7px rgb(209, 124, 111);
}

#registrarBoton {
    margin-top: 12%;
    align-items: center;
    color: #89493F;
    font-style: initial;
    font-size: 130%;
}

.logo {
    width: 150px;
    display: block;
}

/*pantallla de celular*/

@media (max-width: 1300px) {
    .barra {
        margin-top: 10vh;
        flex-direction: column;
    }
    .logo {
        width: 140px;
        display: block;
        padding-bottom: 20px;
    }
    .contenido {
        margin: auto;
        margin-top: -5%;
    }
    .tituloWeb {
        display: none;
    }
    #emailLogin {
        margin-bottom: 10%;
    }
}