* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("./../../data/img/fondoadivinanza3.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedor {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.titulo {
    width: 50%;
    height: 30%;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tituloA {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 33px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    flex-direction: column;
}

.contenedorP {
    margin-top: 40px;
    width: 32%;
    height: 35%;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 0%;
    text-align: center;
    flex-direction: column;
}

#botonCompletado {
    background: #AC3317;
    border-style: none;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.boton {
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin-top: 25px;
    align-items: center;
    align-content: center;
}

#botonCompletado:hover {
    background:rgb(250, 127, 99);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 7px rgb(250, 127, 99);
}

@media (max-width: 517px) {
    .titulo {
        margin-top: 60px;
    }
    #garabato {
        width: 150px;
    }
    .tituloA {
        font-family: 'Nunito', sans-serif;
        color: black;
        font-weight: bold;
        font-size: 24px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 2%;
        flex-direction: column;
    }
    .contenedorP {
        width: 70%;
    }
    p {
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 0%;
        text-align: center;
        flex-direction: column;
    }
    #botonCompletado {
        width: 160px;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
    }
    .boton {
        overflow: visible;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        margin-top: 25px;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 751px) {
    .contenedorP {
        overflow: visible;
        margin-top: 20px;
        width: 70%;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
    .boton {
        overflow: visible;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        margin-top: 25px;
        align-items: center;
        align-content: center;
    }
}

@media (max-height: 411px) {
    .titulo{
        overflow: visible;
    }
    .boton {
        margin-top: 10px;
    }
    .contenedor{
        margin-top: 5px;
    }
}

@media (max-width: 320px), (max-height: 568px) {
    .titulo {
        margin-top: 60px;
    }
    #garabato {
        width: 150px;
    }
    .tituloA {
        font-family: 'Nunito', sans-serif;
        color:black;
        font-weight: bold;
        font-size: 24px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 2%;
        flex-direction: column;
    }
    .contenedorP {
        width: 70%;
    }
    p {
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 0%;
        text-align: center;
        flex-direction: column;
    }
    #botonCompletado {
        width: 160px;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
    }
    .boton {
        overflow: visible;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        margin-top: 25px;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 292px) {
    .titulo {
        margin-top: 60px;
    }
    #garabato {
        width: 130px;
    }
    .tituloA {
        font-family: 'Nunito', sans-serif;
        color: black;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 2%;
        flex-direction: column;
    }
    .contenedorP {
        width: 72%;
    }
    p {
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 0%;
        text-align: center;
        flex-direction: column;
    }
}

