* {
    font-family: 'Nunito', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #2a2b3d;
}

#derechaA {
    position: fixed;
    right: 0;
    top: 2%;
    width: 20%;
    height: auto;
}

#izquierdaA {
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 20%;
    height: auto;
}