* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    margin: 0%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #a7cbcd;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    overflow: visible;
}

.contenerdor{
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.descripcionMochila {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.descripcionMochila p {
    margin-top: 10px;
    font-size: 25px;
}

.descripcionMochila img {
    width: 200px;
}

.contenidoMochila {
    margin: 10px auto;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-items: center;
    overflow: visible;
}

.premio {
    width: 120px;
    margin: 10px auto;
}


#derecha {
    position: fixed;
    right: 0;
    top: 10px;
    width: 300px;
    height: 210px;
}

#izquierda {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 300px;
    height: 210px;
}

p {
    color: #2A2B3D;
    font-size: 30px;
    display: flex;
}

#boton {
    height: 100px;
    text-align: center;
    overflow: visible;
}

#botonContinuar {
    height: auto;
    background: #594D94;
    border-style: none;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}

#botonContinuar:hover {
    background: rgb(134, 119, 211);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 7px rgb(134, 119, 211);
}

@media (max-width: 1085px) {
    #derecha {
        width: 250px;
        height: 170px;
    }
    
    #izquierda {
        width: 250px;
        height: 170px;
    }

}

@media (max-width: 970px) {
    #derecha {
        width: 200px;
        height: 130px;
    }
    
    #izquierda {
        width: 200px;
        height: 130px;
    }

}

@media (max-width: 855px) {
    #derecha {
        width: 200px;
        height: 130px;
    }
    
    #izquierda {
        width: 200px;
        height: 130px;
    }

    .descripcionMochila p {
        margin-top: 10px;
        font-size: 18px;
    }
    
    .descripcionMochila img {
        width: 150px;
    }

    .premio{
        width: 90px;
    }

}

@media (max-width: 700px) {

    h1{
        font-size: 20px;
    }
    .descripcionMochila p {
        margin-top: 10px;
        font-size: 14px;
    }
    
    .descripcionMochila img {
        width: 120px;
    }

    .premio{
        width: 90px;
    }

    #botonContinuar {
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
    
}

@media (max-width: 603px), (max-height: 543px) {

}

@media (max-width: 465px) {
   
}

@media (max-width: 371px) {

}

@media (max-height: 600px) {
    #derecha {
        width: 100px;
        height: 80px;
    }
    
    #izquierda {
        width: 100px;
        height: 80px;
    }

    .contenidoMochila{
        margin: 0 auto;
    }

    .premio{
        margin: 0 auto;
        width: 100px;
    }

    #botonContinuar {
        width: 110px;
        height: 35px;
        font-size: 10px;
    }
  
}

@media (max-height: 472px) {
    .premio{
        width: 70px;
    }
  
}

@media (max-height: 325px) {
    
   
}