* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    flex-direction: column;
    margin: 0%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #a7cbcd;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
}

.descripcionMochila {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.descripcionMochila p {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.contenidoMochila {
    margin: 50px auto;
    margin-top: 50px;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.premio {
    width: 180px;
    margin: auto;
}

#derecha {
    position: fixed;
    right: 0;
    top: 10px;
    width: 300px;
    height: 210px;
}

#izquierda {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 300px;
    height: 210px;
}

p {
    color: #2A2B3D;
    font-size: 30px;
    margin-top: 0%;
    display: flex;
}

@media (max-width: 1067px) {
    .descripcionMochila p {
        font-size: 20px;
    }
    .premio {
        width: 100px;
    }
}

@media (max-width: 603px), (max-height: 543px) {
    .descripcionMochila {
        margin-top: 150px;
    }
    .descripcionMochila p {
        font-size: 20px;
    }
    #derecha {
        position: fixed;
        right: 0;
        top: 10px;
        width: 160px;
        height: 110px;
    }
    #izquierda {
        position: fixed;
        left: 0;
        bottom: 10px;
        width: 160px;
        height: 100px;
    }

    .premio{
        width: 65px;
    }
}

@media (max-width: 465px) {
    h1 {
        font-size: 17px;
    }

   .descripcionMochila{
       margin: 0 auto;
       margin-top: 130px;
       width: 60%;
       text-align: center;
   }
}

@media (max-width: 320px), (max-height: 568px) {
    .descripcionMochila {
        width: 70%;
        margin: 0 auto;
        margin-top: 120px;
        font-size: 12px;
    }
    .descripcionMochila p {
        font-size: 20px;
        text-align: center;
    }
    .premio {
        margin-bottom: 40px;
        width: 80px;
    }
}

@media (max-height: 527px) {
    .premio{
        width: 60px;
    }

    .contenidoMochila{
        width: 65%;
    }

}

@media (max-height: 382px) {
    .descripcionMochila{
        margin-top: 60px;
    }
} 

@media (max-height: 325px) {
    .descripcionMochila{
        margin-top: 20px;
    }
} 
