* {
    font-family: 'Nunito', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #a7cbcd;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: none;
    display: flex;
    flex-direction: column;
}

#derecha {
    position: fixed;
    right: 0;
    top: 2%;
    width: 20%;
    height: auto;
}

#izquierda{
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 20%;
    height: auto;
}

#medio{
    position: fixed;
    left: 41.5%;
    top: 28%;
    width: 200px;
    height: auto;
}

.Paso1 {
    position: fixed;
    left: 45%;
    top: 20%;
    text-align: center;
    
}

.descripcion {
    align-items: center;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 23%;
    top: 35%;
}

.descripcion p {
    text-align: center;
    font-size: 140%;
}

.siguiente {
    position: fixed;
    left: 80%;
    bottom: 54%;
    width: 4%;
}