* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F8C65F;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

#derecha {
    position: fixed;
    right: 0;
    top: 10px;
    width: 300px;
    height: 210px;
}

#izquierda {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 300px;
    height: 210px;
}

.contenidoInstrucciones {
    margin: 0 auto;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#tituloInstru {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.Paso1 {
    font-size: 30px;

}

#medio {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.texto-botones {
    width: 100%;
    height: 60%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0;
}

#contenedorParrafo{
    width: 50%;
}

p {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-size: 20px;
}

@media (max-width: 603px) {
    #tituloInstru {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .Paso1 {
        font-size: 30px;
     
    }
    #medio {
        width: 120px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        
    }
    .botonNavegar {
        width: 30px;
        height: auto;
    }
    p {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        font-size: 15px;
    }

    .texto-botones {
        width: 85%;
        height: 50%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
    }

    .contenidoInstrucciones {
        margin: 0 auto;
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    #derecha {
        position: fixed;
        right: 0;
        top: 10px;
        width: 160px;
        height: 110px;
    }

    #izquierda {
        position: fixed;
        left: 0;
        bottom: 10px;
        width: 160px;
        height: 100px;
    }
    
}