* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("./../../data/img/fondoadivinanza3.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    /* center flex items horizontally, in this case */
    align-items: center;
    /* center flex items vertically, in this case */
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
}

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* center flex items horizontally, in this case */
    align-items: center;
    /* center flex items vertically, in this case */
    flex-direction: column;
    position: absolute;
    left: 50%;
    /* relative to nearest positioned ancestor or body element */
    top: 50%;
    /*  relative to nearest positioned ancestor or body element */
    transform: translate(-50%, -50%);
    /* relative to element's height & width */
}

#garabato {
    height: auto;
    width: auto;
    overflow: visible;
}

.titulo {
    width: 50%;
    height: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.tituloA {
    height: auto;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 33px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    overflow: visible;
}

.contenedorP {
    width: 30%;
    height: auto;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow: visible;
}

p {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 0%;
    text-align: center;
    flex-direction: column;
    overflow: visible;
}

#botonCompletado {
    background: #594D94;
    border-style: none;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.boton {
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 25px;
    align-items: center;
    align-content: center;
}

#botonCompletado:hover {
    background: rgb(134, 119, 211);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 7px rgb(134, 119, 211);
}

@media (max-width: 517px) {
    .tituloA {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 24px;
        display: flex;
    }
    .contenedorP {
        width: 300px;
    }
    p {
        font-family: 'Nunito', sans-serif;
        font-size: 17px;
    }
    #botonCompletado {
        width: 160px;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
    }
    .boton {
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 751px) {
    .contenedorP {
        width: 300px;
    }
}

@media (max-height: 411px) {}

@media (max-width: 320px), (max-height: 568px) {
    .tituloA {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 24px;
    }
    .contenedorP {
        width: 70%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    p {
        font-family: 'Nunito', sans-serif;
        font-size: 17px;
    }
    #botonCompletado {
        width: 160px;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
    }
    .boton {
        overflow: visible;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 292px) {
    .tituloA {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    .contenedorP {
        width: 72%;
    }
    p {
        font-family: 'Nunito', sans-serif;
        font-size: 17px;
    }
}

@media (max-height: 330px) {
    .contenedorP {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}