* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("./../../data/img/fondoadivinanza1.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorPremio{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.textoPremio{
    font-size: 60px;
    color: white;
    text-align: center;
    width: 100%;
}

.ImagenDelPremio{
    width: 300px;
}