* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #545587;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#derecha {
    position: fixed;
    right: 0;
    top: 10px;
    width: 300px;
    height: 210px;
}

#izquierda {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 300px;
    height: 210px;
}

.contenedorPremio{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.textoPremio{
    margin-bottom: 60px;
    font-size: 60px;
    color: white;
    text-align: center;
    width: 100%;
}

.ImagenDelPremio{
    width: 500px;
}

.boton {
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100x;
    margin-top: 13px;
    align-items: center;
    align-content: center;
}

#botonCompletado {
    overflow: visible;
    margin-bottom: 10px;
    background: #F8C65F;
    border-style: none;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#botonCompletado:hover {
    background: rgb(253, 220, 153);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 7px rgb(253, 220, 153);
}